@media (min-width: 1201px) {
  .carousel {
    .prev {
      left: -100px;
    }

    .next {
      right: -100px;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .advantages {
    &__item {
      width: 250px;
    }
    &__descr {
      font-size: 13px;
    }
  }

  .carousel {
    .carousel__inner {
      img {
        width: 100%;
      }
    }

    .container {
      max-width: 800px;
    }

    .prev {
      left: -50px;
    }

    .next {
      right: -50px;
    }
  }

  .catalog-item {
    width: 290px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }

  .button {
    &:hover {
      box-shadow: none;
      transform: scale(1);
    }
  }

  .promo {
    min-height: 550px;
    padding: 20px 0 40px 0;
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 75px;
    }
    &__header {
      font-size: 40px;
      line-height: 36px;
    }
  }

  .header {
    justify-content: space-around;
    align-items: center;
    &__logo {
      width: 200px;
      img {
        width: 100%;
      }
    }
    &__official {
      display: none;
    }
    &__phone {
      font-size: 16px;
      line-height: 16px;
      &:hover {
        color: $white;
        transform: scale(1);
      }
    }
  }

  .header__button {
    width: 140px;
    height: 29px;
    font-size: 11px;
  }

  .title {
    font-size: 28px;
    line-height: 28px;
  }

  .advantages {
    min-height: 400px;
    &__item {
      width: 200px;
    }
    &__img-box {
      width: 60px;
      height: 60px;
    }
    &__img {
      width: 100%;
    }
    &__title {
      font-size: 17px;
    }
    &__descr {
      font-size: 12px;
    }
  }

  .consultation {
    min-height: 600px;
    padding: 70px 0 60px 0;
    &__descr {
      text-align: center;
      margin-bottom: 30px;
    }
  }

  .title {
    &_left {
      text-align: center;
      font-size: 26px;
      line-height: 26px;
    }
  }

  .feed-form {
    margin: 0 auto;
  }

  .carousel {
    .container {
      display: relative;
      width: 700px;
      .tns-nav {
        position: absolute;
        z-index: 150;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        button {
          outline: none;
          padding: 5px;
          margin-right: 10px;
          box-shadow: none;
          border-radius: 50%;
          border-style: solid;
          background-color: #fff;
          &:focus {
            outline: none;
          }
          &:active {
            outline: none;
          }
          &:last-child {
            margin: 0;
          }
          &.tns-nav-active {
            background-color: $red;
          }
        }
      }
      .carousel-inner {
        img {
          width: 100%;
        }
      }
    }
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }

  .catalog {
    &__tabs {
      margin-top: 55px;
      font-size: 17px;
    }
    &__content {
      justify-content: space-around;
      margin-top: 50px;
      &:last-child {
        justify-content: space-around;
      }
    }
    &__tab {
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        border: 2px;
      }
    }
  }

  .clients {
    padding: 60px 0px 30px 0px;
    &__text {
      padding-right: 40px;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 545px;
  }

  .header {
    &__logo {
      width: 180px;
    }
  }

  .promo {
    min-height: 400px;
    &__wrapper {
      margin-top: 60px;
    }
    &__header {
      font-size: 34px;
      line-height: 33px;
    }
    &__subheader {
      font-size: 22px;
      line-height: 22px;
    }
    &__icons {
      justify-content: space-around;
    }
    &__icon {
      width: 101px;
      font-size: 13px;
    }
    &__link {
      font-size: 14px;
    }
  }

  .button_main {
    width: 250px;
    height: 45px;
    font-size: 15px;
    margin-top: 60px;
  }

  .title {
    font-size: 23px;
    line-height: 28px;
  }

  .advantages {
    &__wrapper {
      margin-top: 40px;
    }
    &__item {
      width: 166px;
    }
    &__title {
      font-size: 15px;
      margin-top: 20px;
    }
    &__descr {
      font-size: 11px;
      margin-top: 15px;
    }
  }

  .carousel {
    padding: 65px 0px 40px;
    .container {
      width: 500px;
      .tns-nav {
        top: -40px;
      }
    }
  }

  .catalog {
    &__content {
      margin-top: 33px;
      &:last-child {
        .catalog-item {
          height: auto;
          &__content {
            margin-right: 0;
          }
        }
      }
    }
    &-item {
      padding: 15px 15px 15px 15px;
      &__title {
        margin-top: 15px;
      }
      &__descr {
        margin-top: 14px;
        line-height: 18px;
      }
      hr {
        margin: 15px 0px;
      }
    }
    &__tabs {
      flex-direction: column;
      margin-top: 40px;
    }
    &__tab {
      width: 400px;
      margin-bottom: 10px;
    }
  }

  .catalog__content:last-child .catalog-item {
    margin-right: 0px;
  }

  .clients {
    padding: 60px 0px 30px 0px;
    &__text {
      padding-right: 10px;
      font-size: 14px;
      line-height: 18px;
    }
    &__img-box {
      padding-left: 20px;
    }
  }
}

@media (max-width: 575px) {
  .container {
    width: 100vw;
    padding: 0 10px;
  }

  .header {
    flex-direction: column;
    &__official {
      display: none;
    }
    &__button {
      display: none;
    }
    &__phone {
      font-size: 17px;
      margin-top: 10px;
    }
  }

  .promo {
    padding: 10px 0 20px 0;
    min-height: 568px;
    &__wrapper {
      align-items: center;
      margin-top: 60px;
    }
    &__header {
      font-size: 28px;
      line-height: 30px;
      text-align: center;
    }
    &__subheader {
      font-size: 17px;
      line-height: 19px;
      text-align: center;
    }
    &__icons {
      width: 100%;
    }
    &__icon {
      font-size: 11px;
      img {
        margin-bottom: 10px;
      }
    }
    &__link {
      font-size: 12px;
    }
  }

  .button_main {
    width: 220px;
    height: 40px;
    font-size: 14px;
    margin-top: 50px;
  }

  .title {
    font-size: 23px;
  }

  .advantages {
    padding: 30px 0 30px 0;
    &__wrapper {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__item {
      margin-top: 35px;
      width: 220px;
      &:first-child {
        margin-top: 0;
      }
    }
    &__title {
      margin-top: 15px;
    }
    &__descr {
      font-size: 13px;
    }
  }

  .title {
    font-size: 21px;
    &__left {
      font-size: 19px;
      br {
        display: none;
      }
    }
  }

  .consultation {
    min-height: 500px;
    padding: 50px 0 50px 0;
    &__descr {
      margin-top: 25px;
      font-size: 17px;
      line-height: 21px;
    }
  }

  .feed-form {
    width: 280px;
    input {
      font-size: 13px;
    }
  }

  .button {
    &_submit {
      font-size: 15px;
    }
  }

  .carousel {
    padding: 50px 0px 30px;
    .container {
      width: 310px;
      .tns-nav {
        top: -40px;
        button {
          padding: 3px;
          margin-right: 3px;
        }
      }
    }
  }

  .catalog {
    &__tabs {
      flex-direction: column;
      margin-top: 30px;
    }
    &__tab {
      transform: none;
      border-radius: 5px;
      div {
        transform: none;
      }
    }
    &__tab {
      width: 300px;
      margin-bottom: 5px;
    }
  }

  .clients {
    padding: 50px 0px 30px 0px;
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__text {
      padding-right: 0px;
      font-size: 14px;
      line-height: 17px;
    }
    &__img-box {
      padding-left: 0px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &__feedback {
      flex-direction: column;
    }
  }
}
